<section class="section">
  <div class="container">
    <h2 class="plant-heading">Edit <%= plant.name%>'s details</h2>
    <form action="/plants/<%= plant.id %>" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <div class="field">
        <label class="label">Plant name</label>
        <div class="control">
          <input class="input" type="text" name="name" value="<%= plant.name %>">
        </div>
      </div>

      <div class="field">
        <label class="label">Species</label>
        <div class="control">
          <input class="input" type="text" name="species" value="<%= plant.species %>">
        </div>
      </div>

      <div class="field">
        <label class="label">Planted on:</label>
        <div class="control">
          <input class="input" type="date" name="datePlanted" value="<%= plant.datePlanted %>">
        </div>
      </div>

      <div class="field">
        <label class="label">How often should it be watered? (days)</label>
        <div class="control">
          <input class="input" type="number" name="wateringSchedule" value="<%= plant.wateringSchedule %>">
        </div>
      </div>

      <div class="field">
        <label class="label">Soil should be:</label>
        <div class="control">
          <div class="select">
            <select name="soilShouldBe" selected="<%= plant.soilShouldBe %>">
              <option value=""></option>
          
              <option selected="selected" value="Wet">Wet</option>
              <option value="Damp">Damp</option>
              <option value="Dry">Dry</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Sunlight:</label>
        <div class="control">
          <div class="select">
            <select name="sunlightRequired" selected="<%= plant.sunlightRequired %>">
              <option></option>
              <option>Direct</option>
              <option>Indirect</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Care tips:</label>
        <div class="control">
          <textarea class="textarea" name="careTips"><%= plant.careTips %></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Picture of plant</label>
        <div class="control">
          <input class="url" type="text" name="image" value="<%= plant.image %>">
        </div>
      </div>

      <%# <div class="file has-name is-full-width">
      <label class="file-label">
      <input class="file-input" type="file" name="image">
      <span class="file-cta">
      <span class="file-icon">
      <i class="fas fa-upload"></i>
    </span>
    <span class="file-label" id="filename">
    Upload a picture
  </span>
</span>
</label>
</div> %>

  <div class="field is-grouped">
    <div class="control">
      <button class="submit-button button">Submit</button>
    </div>
    <div class="control">
      <button class="button is-text">Cancel</button>
    </div>
  </div>
  </form>
  </div>
</section>
