<section class="section">
  <div class="container">
    <h2 class="plant-heading">Edit <%= plant.name%>'s details</h2>
    <form enctype="multipart/form-data" action="/plants/<%= plant.id %>" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <div class="field">
        <label class="label">Plant name</label>
        <div class="control">
          <input class="input" type="text" name="name" value="<%= plant.name %>">
        </div>
      </div>

      <div class="field">
        <label class="label">Species</label>
        <div class="control">
          <input class="input" type="text" name="species" value="<%= plant.species %>">
        </div>
      </div>

      <div class="field">
        <label class="label">Planted on:</label>
        <div class="control">

          <input class="input" type="date" name="datePlanted" value="<%= plant.formattedDatePlanted('edit') %>">
        </div>
      </div>

      <div class="field">
        <label class="label">How often should it be watered? (days)</label>
        <div class="control">
          <input class="input" type="number" name="wateringSchedule" value="<%= plant.wateringSchedule %>">
        </div>
      </div>

      <div class="field">
        <label class="label">Soil should be:</label>
        <div class="control">
          <div class="select">
            <select name="soilShouldBe" selected="<%= plant.soilShouldBe %>">
              <% ["Wet", "Damp", "Dry"].forEach(item => { %>
                <% if(plant.soilShouldBe === item){ %>
                  <option selected="selected" value="<%= item %>"><%= item %></option>
                <% } else { %>
                  <option><%= item %></option>
                <% } %>
              <% }) %>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Sunlight:</label>
        <div class="control">
          <div class="select">
            <select name="sunlightRequired" selected="<%= plant.sunlightRequired %>">
              <% ["Direct", "Indirect"].forEach(item => { %>
                <% if(plant.sunlightRequired === item){ %>
                  <option selected="selected" value="<%= item %>"><%= item %></option>
                <% } else { %>
                  <option><%= item %></option>
                <% } %>
              <% }) %>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Care tips:</label>
        <div class="control">
          <textarea class="textarea" name="careTips"><%= plant.careTips %></textarea>
        </div>
      </div>

      <div class="file has-name is-full-width">
         <label class="file-label">
           <input class="file-input" type="file" name="file">
           <span class="file-cta">
             <span class="file-icon">
               <i class="fas fa-upload"></i>
             </span>
             <span class="file-label">
               Upload a picture
             </span>
           </span>
         </label>
       </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button submit-button">Submit</button>
      </div>
    </form>
      <div class="control">
        <a class="button is-text" href="/plants/">Cancel</a>
      </div>
    </div>
  </div>
</section>
