<section class="section">
  <div class="container">
    <h1 class="plant-heading"><%= locals.user.username %>'s plants</h1>
    <div class="columns is-multiline">
      <% locals.user.plants.forEach( plant => { %>
      <div class="column is-one-third-desktop is-half-tablet">
          <a href="plants/<%= plant.id %>">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="<%= plant.image %>" alt="<%= plant.name %>">
              </figure>
            </div>
            <div class="plant-card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="plant-name title is-4"><%= plant.name %></p>
          </a>
                  <p class="plant-details subtitle is-6"><strong>Species:</strong> <%= plant.species %></p>
                  <p class="plant-details subtitle is-6"><strong>Planted on:</strong> <%= plant.formattedDatePlanted('index') %></p>
                  <% if (plant.daysUntilWatering() === 0) { %>
                    <p class="plant-details subtitle is-6"><strong>Water today!</p>
                  <%} else if (plant.daysUntilWatering() === 1) { %>
                    <p class="plant-details subtitle is-6"><strong>Water in</strong>  <%= plant.daysUntilWatering() %> day</p>
                  <% } else { %>
                    <p class="plant-details subtitle is-6"><strong>Water in</strong>  <%= plant.daysUntilWatering() %> days</p>
                  <% } %>
                  <a href="/plants/<%= plant.id %>/watered">Watered</a>
                  <br/>
                  <br/>
                  <p class="plant-details subtitle is-6"><strong>Soil should be:</strong> <%= plant.soilShouldBe %></p>
                  <p class="plant-details subtitle is-6"><strong>Sunlight:</strong> <%= plant.sunlightRequired %></p>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <a href="/plants/<%= plant.id %>/edit" class="card-footer-item">Edit</a>
              <form class="card-footer-item" action="/plants/<%= plant.id %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button name="button" class="card-footer-item" id="delete-button">Delete</button>
              </form>
            </footer>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>
